In [1]:
#importing Libraries
import requests
import lxml.html as lh
import bs4 as bs
import urllib.request
import numpy as np 
import pandas as pd

In [2]:
#Getting the data from url
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
res = requests.get(url)
soup = bs.BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0]
df = pd.read_html(str(table))
data = pd.read_json(df[0].to_json(orient='records'))

In [3]:
#First 5 records
data.head()

            Borough               Neighborhood Postal Code
0      Not assigned                       None         M1A
1      Not assigned                       None         M2A
2        North York                  Parkwoods         M3A
3        North York           Victoria Village         M4A
4  Downtown Toronto  Regent Park, Harbourfront         M5A

In [32]:
#Choosing only data where field Borough doesn't have not assigned value
raw_data_selected = data[data['Borough'] != 'Not assigned']

In [33]:
raw_data_selected.head()

            Borough                                 Neighborhood Postal Code
2        North York                                    Parkwoods         M3A
3        North York                             Victoria Village         M4A
4  Downtown Toronto                    Regent Park, Harbourfront         M5A
5        North York             Lawrence Manor, Lawrence Heights         M6A
6  Downtown Toronto  Queen's Park, Ontario Provincial Government         M7A

In [34]:
#Shape of Data
raw_data_selected.shape

(103, 3)

# using csv file

In [35]:
geospatial_url = "https://cocl.us/Geospatial_data"
geospatial_data = pd.read_csv(geospatial_url)

In [36]:
geospatial_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [37]:
geospatial_data.columns = ['Postcode', 'Latitude', 'Longitude']

In [12]:
geospatial_data.columns

Index(['Postcode', 'Latitude', 'Longitude'], dtype='object')

In [40]:
merged_data = pd.merge(geospatial_data, geospatial_data, on='Postcode')

In [26]:
merged_data.head()

  Postcode  Latitude_x  Longitude_x  Latitude_y  Longitude_y
0      M1B   43.806686   -79.194353   43.806686   -79.194353
1      M1C   43.784535   -79.160497   43.784535   -79.160497
2      M1E   43.763573   -79.188711   43.763573   -79.188711
3      M1G   43.770992   -79.216917   43.770992   -79.216917
4      M1H   43.773136   -79.239476   43.773136   -79.239476